name: Release Charts

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.1

      - name: Add dependency chart repos
        run: |
          helm repo add meshery https://meshery.io/charts/

      - name: Helm Chart Releaser For Remote
        uses: Aisuko/chart-releaser-action@v1.0.0-alpha.14
        with:
          charts_dir: install
          owner: Aisuko
          repo: charts-release
          # For helm charts index
          charts_repo_url: https://aisuko.github.io/charts-release
          pages_branch: master
          activity: none
        env:
          CR_TOKEN: "${{ secrets.TOKEN }}"
      
      # - name: Checkout remote repo and push the index.yaml of the chart
      #   env:
      #     GIT_USERNAME: aisuko
      #     GIT_EMAIL: aisuko-action@github.com
      #     DEPLOY_URL: github.com/Aisuko/charts-release
      #   run: |
      #     git clone https://.:${{ secrets.TOKEN }}@github.com/Aisuko/charts-release target
      #     cp /home/runner/work/helm-charts-action/helm-charts-action/.cr-index/index.yaml target
      #     cd target
      #     git config --local user.name "${{ env.GIT_USERNAME }}"
      #     git config --local user.email "${{ env.GIT_EMAIL }}"
      #     git add index.yaml
      #     git commit -m "Github Actions Automatically Built in `date +"%Y-%m-%d %H:%M"`"
      #     git push --force --quiet "https://${{ env.GIT_USERNAME }}:${{ secrets.TOKEN }}@${{ env.DEPLOY_URL }}" main:main


      - name: Checkout target repo
        uses: actions/checkout@v2
        env:
          REPO: Aisuko/charts-release
        with:
          fetch-depth: 0
          token: ${{ secrets.TOKEN }}
          repository: "${{ env.REPO }}"
          path: charts-release
      - name: Push
        run: |
          cp /home/runner/work/helm-charts-action/helm-charts-action/.cr-index/index.yaml charts
          git add .
          git commit -m "Github Actions Automatically Built in `date +"%Y-%m-%d %H:%M"`"
          git push

